In [1]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import f1_score

import lightgbm as lgb 
import catboost as cb

In [2]:
SEED=42

In [85]:
train=pd.read_csv('data/final.csv')
test=pd.read_csv('data/test.csv')

In [86]:
train.head()

,ID,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,29,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
1,57,48,1,0,122,222,0,0,186,0,0.0,2,0,2,1
2,9,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
3,147,44,0,2,118,242,0,1,149,0,0.3,1,1,2,1
4,303,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [87]:
train.target.value_counts()

1    137
0    116
Name: target, dtype: int64

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        253 non-null    int64
 1   age       253 non-null    int64
 2   sex       253 non-null    int64
 3   cp        253 non-null    int64
 4   trestbps  253 non-null    int64
 5   chol      253 non-null    int64
 6   fbs       253 non-null    int64
 7   restecg   253 non-null    int64
 8   thalach   253 non-null    int64
 9   exang     253 non-null    int64
 10  oldpeak   253 non-null    float64
 11  slope     253 non-null    int64
 12  ca        253 non-null    int64
 13  thal      253 non-null    int64
 14  target    253 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 29.8 KB

In [6]:
data=train.append(test)
data.drop(['ID'],axis=1)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1.0
1,48,1,0,122,222,0,0,186,0,0.0,2,0,2,1.0
2,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1.0
3,44,0,2,118,242,0,1,149,0,0.3,1,1,2,1.0
4,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,70,1,1,156,245,0,0,143,0,0.0,2,0,2,NaN
46,61,1,2,150,243,1,1,137,1,1.0,1,0,2,NaN
47,64,1,0,128,263,0,1,105,1,0.2,1,1,3,NaN
48,54,1,0,124,266,0,0,109,1,2.2,1,1,3,NaN
49,47,1,2,108,243,0,1,152,0,0.0,2,0,2,NaN

In [7]:
train=data[0:train.shape[0]]
test=data[train.shape[0]:]
print(train.shape,test.shape)

(253, 15) (50, 15)

In [8]:
y=train.target
x=train.drop(['target'],axis=1)

In [9]:
test=test.drop(['target'],axis=1)

In [10]:
skf=StratifiedKFold(n_splits=3,random_state=SEED)

In [11]:
scores=[]
fold=0
for train_idx,test_idx in skf.split(x,y):
    x_train,x_test=x.iloc[train_idx],x.iloc[test_idx]
    y_train,y_test=y.iloc[train_idx],y.iloc[test_idx]
    print(fold)
    fold+=1

    lg=lgb.LGBMClassifier(random_state=SEED,n_estimators=2000,loss='rmse')
    lg.fit(x_train,y_train,eval_set=[(x_test,y_test)],early_stopping_rounds=150,verbose=50)
    preds=lg.predict(x_test)
    score=f1_score(y_test,preds,average=None)
    print(score)
    scores.append(score)
print(np.mean(scores),np.std(scores))

0
[LightGBM] [Warning] Unknown parameter: loss
Training until validation scores don't improve for 150 rounds
[50]	valid_0's binary_logloss: 0.00592809
[100]	valid_0's binary_logloss: 0.000158071
[150]	valid_0's binary_logloss: 3.81477e-05
[200]	valid_0's binary_logloss: 3.81477e-05
[250]	valid_0's binary_logloss: 3.81477e-05
Early stopping, best iteration is:
[140]	valid_0's binary_logloss: 3.79695e-05
[1. 1.]
1
[LightGBM] [Warning] Unknown parameter: loss
Training until validation scores don't improve for 150 rounds
[50]	valid_0's binary_logloss: 0.00481278
[100]	valid_0's binary_logloss: 6.44545e-05
[150]	valid_0's binary_logloss: 1.91833e-05
[200]	valid_0's binary_logloss: 1.89234e-05
[250]	valid_0's binary_logloss: 1.89231e-05
[300]	valid_0's binary_logloss: 1.89231e-05
Early stopping, best iteration is:
[178]	valid_0's binary_logloss: 1.89144e-05
[1. 1.]
2
[LightGBM] [Warning] Unknown parameter: loss
Training until validation scores don't improve for 150 rounds
[50]	valid_0's binary_logloss: 0.0168235
[100]	valid_0's binary_logloss: 0.034917
[150]	valid_0's binary_logloss: 0.0223552
[200]	valid_0's binary_logloss: 0.019505
Early stopping, best iteration is:
[74]	valid_0's binary_logloss: 0.0156877
[0.98701299 0.98901099]
0.996003996003996 0.005680560142934415

In [12]:
scores=[]
fold=0
for train_idx,test_idx in skf.split(x,y):
    x_train,x_test=x.iloc[train_idx],x.iloc[test_idx]
    y_train,y_test=y.iloc[train_idx],y.iloc[test_idx]
    print(fold)
    fold+=1

    cat=cb.CatBoostClassifier(random_state=SEED,n_estimators=5000)
    cat.fit(x_train,y_train,eval_set=[(x_test,y_test)],early_stopping_rounds=150,verbose=100,use_best_model=True)
    preds=cat.predict(x_test)
    score=f1_score(y_test,preds,average=None)
    print(score)
    scores.append(score)
print(np.mean(scores),np.std(scores))

0
Learning rate set to 0.010128
0:	learn: 0.6757553	test: 0.6782042	best: 0.6782042 (0)	total: 149ms	remaining: 12m 24s
100:	learn: 0.0849740	test: 0.0959386	best: 0.0959386 (100)	total: 239ms	remaining: 11.6s
200:	learn: 0.0293063	test: 0.0396400	best: 0.0396400 (200)	total: 335ms	remaining: 7.99s
300:	learn: 0.0149161	test: 0.0242644	best: 0.0242644 (300)	total: 431ms	remaining: 6.72s
400:	learn: 0.0095137	test: 0.0186466	best: 0.0186466 (400)	total: 522ms	remaining: 5.99s
500:	learn: 0.0067506	test: 0.0161966	best: 0.0161966 (500)	total: 627ms	remaining: 5.63s
600:	learn: 0.0051002	test: 0.0147556	best: 0.0147556 (600)	total: 725ms	remaining: 5.3s
700:	learn: 0.0042198	test: 0.0140809	best: 0.0140809 (700)	total: 823ms	remaining: 5.05s
800:	learn: 0.0036011	test: 0.0135761	best: 0.0135761 (800)	total: 923ms	remaining: 4.84s
900:	learn: 0.0030704	test: 0.0131113	best: 0.0131113 (900)	total: 1.02s	remaining: 4.64s
1000:	learn: 0.0026464	test: 0.0126414	best: 0.0126414 (1000)	total: 1.13s	remaining: 4.52s
1100:	learn: 0.0023333	test: 0.0123030	best: 0.0123030 (1100)	total: 1.23s	remaining: 4.36s
1200:	learn: 0.0021000	test: 0.0121256	best: 0.0121256 (1200)	total: 1.32s	remaining: 4.19s
1300:	learn: 0.0019275	test: 0.0119949	best: 0.0119942 (1299)	total: 1.42s	remaining: 4.04s
1400:	learn: 0.0017931	test: 0.0118862	best: 0.0118862 (1400)	total: 1.52s	remaining: 3.9s
1500:	learn: 0.0016824	test: 0.0118083	best: 0.0118083 (1499)	total: 1.62s	remaining: 3.78s
1600:	learn: 0.0016051	test: 0.0117729	best: 0.0117665 (1576)	total: 1.71s	remaining: 3.64s
1700:	learn: 0.0015638	test: 0.0117654	best: 0.0117654 (1700)	total: 1.81s	remaining: 3.51s
1800:	learn: 0.0015197	test: 0.0117720	best: 0.0117610 (1708)	total: 1.9s	remaining: 3.38s
Stopped by overfitting detector  (150 iterations wait)

bestTest = 0.01176104958
bestIteration = 1708

Shrink model to first 1709 iterations.
[0.98701299 0.98924731]
1
Learning rate set to 0.010143
0:	learn: 0.6773005	test: 0.6774341	best: 0.6774341 (0)	total: 1.83ms	remaining: 9.14s
100:	learn: 0.0886144	test: 0.0954999	best: 0.0954999 (100)	total: 94.6ms	remaining: 4.59s
200:	learn: 0.0292686	test: 0.0333624	best: 0.0333624 (200)	total: 187ms	remaining: 4.47s
300:	learn: 0.0147508	test: 0.0173346	best: 0.0173346 (300)	total: 277ms	remaining: 4.33s
400:	learn: 0.0093589	test: 0.0112898	best: 0.0112898 (400)	total: 385ms	remaining: 4.42s
500:	learn: 0.0067055	test: 0.0082060	best: 0.0082060 (500)	total: 500ms	remaining: 4.49s
600:	learn: 0.0051721	test: 0.0064295	best: 0.0064295 (600)	total: 610ms	remaining: 4.47s
700:	learn: 0.0041610	test: 0.0052321	best: 0.0052321 (700)	total: 718ms	remaining: 4.4s
800:	learn: 0.0034969	test: 0.0044585	best: 0.0044585 (800)	total: 826ms	remaining: 4.33s
900:	learn: 0.0030015	test: 0.0038778	best: 0.0038778 (900)	total: 930ms	remaining: 4.23s
1000:	learn: 0.0026235	test: 0.0034423	best: 0.0034423 (1000)	total: 1.03s	remaining: 4.12s
1100:	learn: 0.0023368	test: 0.0031198	best: 0.0031198 (1100)	total: 1.14s	remaining: 4.02s
1200:	learn: 0.0021037	test: 0.0028613	best: 0.0028613 (1200)	total: 1.23s	remaining: 3.9s
1300:	learn: 0.0019119	test: 0.0026511	best: 0.0026511 (1300)	total: 1.33s	remaining: 3.78s
1400:	learn: 0.0017371	test: 0.0024541	best: 0.0024541 (1400)	total: 1.42s	remaining: 3.65s
1500:	learn: 0.0015839	test: 0.0022834	best: 0.0022834 (1500)	total: 1.52s	remaining: 3.55s
1600:	learn: 0.0014569	test: 0.0021441	best: 0.0021441 (1600)	total: 1.62s	remaining: 3.45s
1700:	learn: 0.0013723	test: 0.0020526	best: 0.0020526 (1700)	total: 1.72s	remaining: 3.33s
1800:	learn: 0.0013082	test: 0.0019841	best: 0.0019841 (1800)	total: 1.81s	remaining: 3.22s
1900:	learn: 0.0012691	test: 0.0019427	best: 0.0019427 (1900)	total: 1.91s	remaining: 3.11s
2000:	learn: 0.0012582	test: 0.0019311	best: 0.0019311 (1923)	total: 2s	remaining: 3s
Stopped by overfitting detector  (150 iterations wait)

bestTest = 0.001931142843
bestIteration = 1923

Shrink model to first 1924 iterations.
[1. 1.]
2
Learning rate set to 0.010143
0:	learn: 0.6776348	test: 0.6791737	best: 0.6791737 (0)	total: 1.21ms	remaining: 6.07s
100:	learn: 0.0890128	test: 0.1123090	best: 0.1123090 (100)	total: 93.7ms	remaining: 4.55s
200:	learn: 0.0282810	test: 0.0464591	best: 0.0464591 (200)	total: 188ms	remaining: 4.48s
300:	learn: 0.0148243	test: 0.0310195	best: 0.0310195 (300)	total: 283ms	remaining: 4.42s
400:	learn: 0.0094629	test: 0.0251644	best: 0.0251644 (400)	total: 378ms	remaining: 4.33s
500:	learn: 0.0066333	test: 0.0219909	best: 0.0219909 (500)	total: 472ms	remaining: 4.24s
600:	learn: 0.0051312	test: 0.0208159	best: 0.0208159 (600)	total: 566ms	remaining: 4.14s
700:	learn: 0.0039503	test: 0.0200331	best: 0.0200331 (700)	total: 666ms	remaining: 4.08s
800:	learn: 0.0030490	test: 0.0192762	best: 0.0192762 (800)	total: 763ms	remaining: 4s
900:	learn: 0.0025024	test: 0.0186521	best: 0.0186521 (900)	total: 861ms	remaining: 3.91s
1000:	learn: 0.0021462	test: 0.0181430	best: 0.0181430 (1000)	total: 957ms	remaining: 3.82s
1100:	learn: 0.0018909	test: 0.0177675	best: 0.0177675 (1100)	total: 1.05s	remaining: 3.73s
1200:	learn: 0.0016971	test: 0.0174772	best: 0.0174772 (1200)	total: 1.15s	remaining: 3.63s
1300:	learn: 0.0015443	test: 0.0172458	best: 0.0172458 (1300)	total: 1.24s	remaining: 3.53s
1400:	learn: 0.0014352	test: 0.0170929	best: 0.0170929 (1400)	total: 1.33s	remaining: 3.42s
1500:	learn: 0.0013704	test: 0.0170144	best: 0.0170144 (1500)	total: 1.43s	remaining: 3.34s
1600:	learn: 0.0013408	test: 0.0169764	best: 0.0169764 (1600)	total: 1.53s	remaining: 3.25s
1700:	learn: 0.0013195	test: 0.0169496	best: 0.0169496 (1700)	total: 1.62s	remaining: 3.14s
1800:	learn: 0.0013040	test: 0.0169287	best: 0.0169287 (1800)	total: 1.71s	remaining: 3.03s
1900:	learn: 0.0012856	test: 0.0169090	best: 0.0169090 (1900)	total: 1.8s	remaining: 2.93s
2000:	learn: 0.0012694	test: 0.0168889	best: 0.0168889 (2000)	total: 1.89s	remaining: 2.84s
2100:	learn: 0.0012446	test: 0.0168571	best: 0.0168571 (2100)	total: 1.99s	remaining: 2.74s
2200:	learn: 0.0012283	test: 0.0168367	best: 0.0168367 (2200)	total: 2.08s	remaining: 2.64s
2300:	learn: 0.0012122	test: 0.0168208	best: 0.0168208 (2300)	total: 2.17s	remaining: 2.55s
2400:	learn: 0.0012016	test: 0.0168134	best: 0.0168134 (2400)	total: 2.26s	remaining: 2.45s
2500:	learn: 0.0011896	test: 0.0167981	best: 0.0167981 (2472)	total: 2.35s	remaining: 2.35s
2600:	learn: 0.0011727	test: 0.0167779	best: 0.0167779 (2600)	total: 2.44s	remaining: 2.25s
2700:	learn: 0.0011684	test: 0.0167778	best: 0.0167765 (2689)	total: 2.54s	remaining: 2.16s
2800:	learn: 0.0011643	test: 0.0167747	best: 0.0167747 (2800)	total: 2.63s	remaining: 2.06s
2900:	learn: 0.0011585	test: 0.0167668	best: 0.0167668 (2900)	total: 2.73s	remaining: 1.97s
3000:	learn: 0.0011506	test: 0.0167597	best: 0.0167577 (2956)	total: 2.83s	remaining: 1.88s
3100:	learn: 0.0011442	test: 0.0167540	best: 0.0167540 (3100)	total: 2.92s	remaining: 1.79s
3200:	learn: 0.0011417	test: 0.0167558	best: 0.0167540 (3110)	total: 3.02s	remaining: 1.7s
Stopped by overfitting detector  (150 iterations wait)

bestTest = 0.01675397995
bestIteration = 3110

Shrink model to first 3111 iterations.
[0.98734177 0.98876404]
0.9920610193227771 0.005665623566285123

In [13]:
from sklearn.linear_model import LogisticRegression
scores=[]
fold=0
for train_idx,test_idx in skf.split(x,y):
    x_train,x_test=x.iloc[train_idx],x.iloc[test_idx]
    y_train,y_test=y.iloc[train_idx],y.iloc[test_idx]
    print(fold)
    fold+=1

    lr=LogisticRegression()
    lr.fit(x_train,y_train)
    preds=lr.predict(x_test)
    score=f1_score(y_test,preds,average=None)
    print(score)
    scores.append(score)
print(np.mean(scores),np.std(scores))

0
[0.95       0.95555556]
1
[1. 1.]
2
[0.96       0.96774194]
0.9722162485065712 0.020348096905322462

In [14]:
lg.feature_importances_

array([145,  74,   0,  69,  39,  45,   0,  26,  83,   5,  25,   0,   2,
         0])

In [76]:
test_preds=cat.predict(test)

In [77]:
test_preds

array([1., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1.,
       0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0.,
       1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0.])

In [78]:
sub=pd.read_csv('data/test.csv')

In [79]:
sub.head()

,ID,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,128,67,0,2,152,277,0,1,172,0,0.0,2,1,2
1,232,57,1,0,165,289,1,0,124,0,1.0,1,3,3
2,220,48,1,0,130,256,1,0,150,1,0.0,2,2,3
3,184,58,1,2,112,230,0,0,165,0,2.5,1,1,3
4,25,40,1,3,140,199,0,1,178,1,1.4,2,0,3

In [80]:
new_df=pd.DataFrame({'ID':sub.ID,'target':test_preds})

In [81]:
new_df.head()

    ID  target
0  128     1.0
1  232     0.0
2  220     0.0
3  184     0.0
4   25     1.0

In [82]:
new_df.target.value_counts()

1.0    28
0.0    22
Name: target, dtype: int64

In [83]:
new_df.to_csv('submissions/initial-cat-0.9920.csv',index=False)

In [84]:
new_df

     ID  target
0   128     1.0
1   232     0.0
2   220     0.0
3   184     0.0
4    25     1.0
5    56     1.0
6    28     1.0
7   125     1.0
8   139     1.0
9    67     1.0
10   37     1.0
11  214     0.0
12   12     1.0
13  127     1.0
14   53     1.0
15  225     0.0
16   17     1.0
17  183     0.0
18   87     1.0
19  198     0.0
20  292     0.0
21   75     1.0
22  273     0.0
23  186     0.0
24   82     1.0
25  151     1.0
26  261     0.0
27  237     0.0
28  244     0.0
29  193     0.0
30  161     1.0
31   61     1.0
32  266     0.0
33  253     0.0
34   36     1.0
35  163     1.0
36  194     0.0
37  269     0.0
38  221     0.0
39   19     1.0
40  168     0.0
41   98     1.0
42   15     1.0
43  103     1.0
44  153     1.0
45  146     1.0
46   24     1.0
47  140     1.0
48  188     0.0
49  231     0.0